.about {
  @include container;
  @include clearfix;
  margin-top: 4em !important;
  margin-bottom: 4em;
}
.about-img {
  max-height: 35em;
  image-orientation: from-image;


  @media (min-width: 45em) {
    float: left;
    margin-right: 1em;
  }
}

.about-title {
  @include font-mixin($fs: 2.4rem, $ls: 0.2em, $ff: $ff-ss, $color: $light-blue);
  margin-bottom: 0.4em;
  /* margin-left: -0.5em; */

  @media (max-width: 340px) {
    font-size: 2rem;
  }

  @media (min-width: 341px) {
    font-size: 2.45rem;
  }

  @media (min-width: 370px) {
    font-size: 2.8rem;
  }

  @include mq {
    font-size: 4rem;
    padding-left: 2.5rem;
  }
}

.about-subtitle {
  margin: 0.5em 0;

  @media (max-width: 340px) {
    font-size: 1.6rem;
  }

  @media (min-width: 341px) {
    font-size: 1.9rem;
  }

  @media (min-width: 370px) {
    font-size: 2rem;
  }
}

@supports (display: grid) {
  .about {
    display: grid;
    grid-template-columns: [port-start] minmax(7em, 1fr) [name-start] minmax(7em, 0.5fr) [img-end] 2fr [port-end];
    grid-column-gap: 0.5em;
  }

  .about-img {
    grid-column: port-start/img-end;
    grid-row: 1/2;

    @include mq {
      grid-row: 1/4;
    }
  }

  .about-title {
    grid-column: name-start/port-end;
    grid-row: 1/2;
    align-self: end;

  }

  .about-subtitle,
  .about-text {
    grid-column: port-start/port-end;

    @include mq {
      grid-column: image-end/port-end;
    }
  }


  .about-subtitle {
    grid-row: 2/3;
  }

  .about-text {
    grid-row: 3/4;
  }


}
