.intro {
  display: flex;
  color: rgba($white, 0.7);
  background-color: $dark-blue;

  h2 {
    color: $white;

    &::after {
      content:'';
      width: 30%;
      height: 1px;
      background: rgba($white, 0.5);
      display: block;
      margin: 0.7em auto 0;
    }
  }

/*   @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 50em) 1fr;
  } */
}

.intro-middle {
  @include container;
  background-color: $dark-blue;
  text-align: center;
  padding: 2.5em 5vw;
  display: block;
  justify-content: center;
  width: 100%;
}

.intro-left img,
.intro-right img {
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  display: block;
  background: rgba($light-blue, 1);
}